body {
background-color: #F1F1F1;
}

.nav-main {
position: fixed;
top: 0;	
width: 100%;
height: 60px;
background-color: #FFF;
display: flex;
flex-wrap: wrap;

}

.btn-tgl {
width: 60px;
height: 100%;
background-image: url("calc.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
cursor: pointer;
}

.nav-main ul {
display: flex;
flex-wrap: wrap;
padding-left: 15px;
}

.nav-main ul li {
list-style: none;
line-height: 60px;
}

.nav-main ul li a, .nav-main ul li div{
display: block;
height: 100%;
padding: 0 10px;
text-transform: uppercase;
text-decoration: none;
color: #111;
font-family: arial;
font-size: 18px;
cursor: pointer;
}

.btn-tgl:hover, .nav-main ul li a:hover, .nav-main ul li div:hover{
	opacity: 0.5;
}

.nav-side{
position: fixed;
left: 0;
bottom: 0;
width: 50px;
height: calc(100vh - 60px);
padding: 0 5px;
background-color: #1b1b1b;

transition: all 0.3s ease-in-out;
}

.nav-side ul{
padding-top: 15px;
overflow: hidden;
visibility: hidden;

}

.nav-side ul li{
line-height: 60px;
list-style: none;

}
.nav-side ul li span, .nav-side ul li a{
display: block;
height: 60px;
padding: 0 10px;
text-decoration: none;
text-transform: uppercase;
color: #FFF;
font-family: arial;
font-size: 18px;
white-space: nowrap;
opacity: 0;
transition: all 0.3s ease-in-out;
}
.nav-side ul li a:hover{
background-color: #222;
}

.main1{
position: absolute;
left: 120px;
top: 120px;
font-size: 18px;
font-family: arial;
color: #130F0F;
transition: all 0.3s ease-in-out;
overflow: hidden;
}

.main1 h1, h2, h3, h4, h5, h6{
font-size: 36px;
opacity: 0.6;
text-transform: uppercase;
top:120px;
bottom: 120px;
}	

.main1 p {
padding-top: 60px;
padding-bottom: 60px;
padding-right: 400px;
}

.main1 iframe {
padding-top: 60px;
padding-bottom: 60px;
}

.main1 ul li {
font-size: 27px;
opacity: 0.8;
}

.main1 h7
{
padding-top: 60px;
}

.main1 button
{
background-color: #4CAF50;
border: none;
color: white;
text-decoration: none;
cursor: pointer;
padding: 16px 32px;
margin: 40px 0px;
}	
.main1 input
{
padding-left: 16px;
border: none;
border-bottom: 2px solid black;
background-color: #F1F1F1;
}



	
	









	
